#header {
	display: inline-block;
	background-color: #E5EAFA;
}

#visit {
	margin-left: 60px;
	margin-bottom: 0px;
	margin-top: 10px;
}

#logo {
	padding-left: 20px;
}

#name{
	margin-bottom: 0px;
}

#logotext {
	font-size: 14pt;
}

#login {
	padding-left: 40px;
}

#search {
	margin-top: 30px;
}

#input{
	width: 135px;
}

#tip{
	text-align: center;
	margin-top: 10px;
}

#tippic {
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#navbar {
	background-color: #E5EAFA;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 20px;
	cursor: pointer;
	text-decoration: underline;
	color: #1EAEDB;
}

li:hover {
  color: #0FA0CE; 
}

#peer{
	padding-left: 0px;
}

#expert{
	padding-right: 0px;
}

#connectw{
	margin-left: 0px;
	margin-bottom: 15px;
	padding-left: 90px;
}

#content{
	margin-left: 0px;
}

#post{
	margin-top: 25px;
}

.postimg{
	height: 155px;
	width: 155px;
}

#headline {
	font-weight: bold;
}

#contact{
	margin-left: 90px;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px; 
}

.contactbutton {
	margin-top: 5px;
	margin-left: 80px;
}

#appt{
	margin-bottom: 15%;
}

#industrymenu {
	margin-left: 90px;
	margin-top: 25px;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px; 
}

#searchi {
	margin-left: 25px;
}

#dropdown {
	margin-left: 15px;
	margin-bottom: 15px;
}

.ilist{
	padding: 15px;
}

#logprompt{
	text-align: center;
	background-color: #E5EAFA;
	margin-bottom: 50px;
}










